html, body, h1, h2, h3, h4, p, div { padding: 0; border: 0; margin: 0; font: inherit; font-size: 100%; }

h1 {
    font-family: 'Ubuntu', Helvetica, sans-serif;
    font-size: 50px;
    line-height: 65px;
    text-align: center;
    color: #ffffff;
    margin: 50px 0 50px 0;
    display: block;
}

p {
     font-family: 'Vollkorn', Georgia, Times, serif;
     font-size: 16px;
     line-height: 25px;
 }

.nav {
    background: #252429;
    width: 100%;
    float: left;
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #686773;
    border-top: 1px solid #686773;
}

.nav li {
    float: left;
}
.nav li a{
    padding: 8px 15px;
    border-right: 1px solid #686773;
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;

}

.nav li a:hover{
    color: #1EA2EC;
    background-color: #fff;
}

.first {
    border-left: 1px solid;
}



body {
    background: #cacccc url("../site/imgs/stardust_@2X.png") repeat scroll center center;
}

.footer {
    font-size: 12px;
}