html, body, h1, h2, h3, h4, p, div { padding: 0; border: 0; margin: 0; font: inherit; font-size: 100%; }

h1 {
    font-family: 'Ubuntu', Helvetica, sans-serif;
    font-size: 50px;
    line-height: 65px;
    text-align: center;
    color: #ffffff;
}

p {
     font-family: 'Vollkorn', Georgia, Times, serif;
     font-size: 16px;
     line-height: 25px;
 }

ul {
    list-style: none;
    padding: 0;
    margin: auto;
}

.nav {
    font-family: 'Vollkorn', Georgia, Times, serif;
    font-size: 16px;
    line-height: 25px;

}

body {
    background: #cacccc url("../site/imgs/stardust_@2X.png") repeat scroll center center;
}

.footer {
    font-size: 12px;
}